# Compiled Onkect files
*.slo
*.lo
*.o
*.obj

# Precompiled
*-gch
*.pch

# Compiled Dynamic lib
*.so
*.dll
*.dylib

# Fortran
*.mod

# Compiled Static lib
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/Debug/
/Release/
*.tlog
vc++/x64/Debug/vc140.pdb
*.idb
*.pdb
*.db
*.suo
*.txt
*.ipdb
*.ilk
*.iobj
*.log
